<div class="row">
    <div class="col-md-6">
        <div class="text-md font-weight-bold text-success text-uppercase mb-1">{{doctor.name}}</div> 
        <div class="text-sm font-weight-bold text-info mb-1">Specialist: {{doctor.specialist}}</div>      
        <div class="text-sm font-weight-bold text-warning mb-1">Time: {{doctor.start_time}} - {{doctor.end_time}}</div>
        <div class="text-sm font-weight-bold text-warning mb-1">Consultation duration : {{doctor.appointment_slot_time}} min</div>
        <div class="text-sm font-weight-bold text-info mb-1">{{doctor.patients_per_day}} patients/day</div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <input type='text' class="form-control" id='datetimepicker' class='datepicker'/>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-success btn-icon-split" id="btnBook"> 
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Book</span>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        // Data Picker Initialization
        $('#datetimepicker').datepicker();

        $("#btnBook").click(function(){
            var data = {
                appointment_date: $('#datetimepicker').val(),
                doctor_id: getIdFromQuerystring()
            };

            ajaxCall.post('/user/appointment/book', data,
                success = function(data, textStatus, jqXHR)
                {
                    document.location.href = '/user//appointment/list';
                },
                error = function(jqXHR, textStatus, errorThrown){
                    console.log(textStatus + ': ' + errorThrown);
                }
            );
        })
    })
</script>